.aw-masthead {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a7d1e5;
  overflow: hidden;
}

.aw-masthead__img {
}
.aw-masthead__img img {
  object-fit: cover;
  background-position: center;
}

.aw-masthead__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: absolute;
  top: 30px;
  left: 130px;
  color: #2c2c2c;
}
.aw-masthead__title {
  font-size: 6vw;
  margin: 0;
}
.aw-masthead__web {
  font-size: 4vw;
  font-weight: bold;
  line-height: 1;
  color: #cb1819;
  font-style: italic;
  margin: 0;
}
.aw-masthead__dev {
  line-height: 1.2;
  font-size: 4vw;
  margin: 0;
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .aw-masthead {
  }
}
@media (max-width: 575px) {
  .aw-masthead {
  }
  .aw-masthead__text {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .aw-masthead__title {
    font-size: 10vw;
  }
  .aw-masthead__web {
    font-size: 5vw;
  }
  .aw-masthead__dev {
    font-size: 5vw;
  }
  .aw-masthead__img img {
    left: -200px;
    right: 0;
    margin: auto;
    opacity: 1;
    height: 240%;
  }
  .aw-masthead__text {
    z-index: 1;
  }
}
