.aw-projects {
}
.aw-projects.container {
  padding: 60px 124px;
}
.aw-projects__title {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;
  overflow: hidden;
  background: linear-gradient(90deg, #f5f5f5, #000, #f5f5f5);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.2);
  animation: animate 3s linear infinite;
  -webkit-animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.aw-projects__item {
  border-bottom: 1px solid #f3ca4e;
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
}

.aw-projects__item:last-child {
  border: none;
}

.aw-projects__img {
  background: #000;
}
.aw-projects__img img {
  display: block;
  padding: 17px;

  width: 467px;
  height: 374px;
}
.aw-projects__img img:hover {
}
.aw-projects__text {
  padding-left: 50px;
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aw-projects__subtitle {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  padding: 24px 0;
}
.aw-projects__text-p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  padding-bottom: 24px;
}

.aw-projects__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 153px;
  height: 50px;
  color: #fdcf01;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  background: rgb(0, 0, 0);
}
.aw-projects__buttons:hover {
  color: #fdcf01;
}
.aw-projects__buttons::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background: rgba(236, 195, 11, 0.137);
}
.aw-projects__buttons span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #000000, #f3ca4e);
  animation: animate1 linear infinite;
  -webkit-animation: animate1 2s linear infinite;
}
@keyframes animate1 {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
.aw-projects__buttons span:nth-child(2) {
  position: absolute;
  width: 2px;
  top: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to bottom, #000000, #f3ca4e);
  -webkit-animation: animate2 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
.aw-projects__buttons span:nth-child(3) {
  position: absolute;
  width: 153px;
  bottom: 0;
  left: 0;
  height: 2px;
  background: linear-gradient(to left, #000000, #f3ca4e);
  -webkit-animation: animate3 2s linear infinite;
}
@keyframes animate3 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
.aw-projects__buttons span:nth-child(4) {
  position: absolute;
  width: 2px;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to top, #000000, #f3ca4e);
  -webkit-animation: animate4 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate4 {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

@media (max-width: 1199px) {
  .aw-projects__item {
    padding: 40px 0;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .aw-projects__text {
    align-items: center;
    padding-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .aw-projects.container {
    margin-left: auto;
    padding: 20px 74px;
    padding-right: 0;
  }
  .aw-projects__item {
    padding: 40px;
  }
  .aw-projects__title {
    font-size: 40px;
  }
  .aw-projects__img img {
    width: 407px;
    height: 314px;
  }
  .aw-projects__subtitle {
    padding: 15px 0;
  }
}
@media (max-width: 575px) {
  .aw-projects.container {
    padding: 10px 16px;
    padding-left: 65px;
  }
  .aw-projects__title {
    font-size: 30px;
  }
  .aw-projects__item {
    padding: 22px 0;
  }
  .aw-projects__img img {
    width: 100%;
    height: auto;
  }
  .aw-projects__subtitle {
    font-size: 24px;
  }
  .aw-projects__img img {
    padding: 5px;
  }
  .aw-projects__buttons {
    width: 208px;
  }
}
